.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    margin: 20px 0;
    position: relative;
}

.meterContainer{
    /* style={{display:"flex", justifyItems:"center", flexDirection:"column",padding:"10px"}}> */
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}
.header h1{
    font-size: 3rem;
}

.container{
    overflow-y: scroll;
}
.commentSection{
    padding-bottom: 50px;
}
.imageContainer{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    /* background-color: yellowgreen; */
    
}
.reviewCard{
    border-radius: 0;
    padding:20px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.cardHeading{
    display: flex;
    flex-direction: row;
    gap:10px;
    box-sizing: border-box;
    padding: 0px;
    height: 70px;
    border-bottom: 1px solid #757575;
}

.cardHeading h4, p{
    margin:0;
    padding: 0;
    color: #454545;
}
.comment{
    margin-top: 15px;
}
.comment p {
    font-size: .8rem;
}
.user{
    width: 100%;
    padding: 5px;
}

.user p{
    font-size: .8rem;
}

.meter {
    width: 100%;
  }
  
  meter::-webkit-meter-optimum-value {
    background-color: rgb(28, 132, 138);
  }
  
  meter::-webkit-meter-optimum-value {
    background-color: aqua;
  }
  
  meter::-webkit-meter-optimum-value {
    background-color: #757575;
  }
  


  