.CardClass {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    margin-top: 20px;
}
.Container{
    margin-top: 20px;
}

.RadioGroup{
    /* style={{marginLeft:"auto", backgroundColor:"", width:"50%", display:"flex", flexDirection:"row", justifyContent:"space-between"}} */

    margin-left: auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    
}
span{
    font-size: 15px;
}
h1{
    font-size: 20px;
}