*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.row {
   --bs-gutter-x: 0rem !important; 
}
body{
  overflow-x: hidden;
}
/* Header Start  */
.head{
  background: green;
  padding-top: 33px;
  padding-bottom: 1px;
  color: #fff;
  height: 67px;
}
.head{
  font-size: 18px;
}
.head-arrow{
  position: absolute;
  left: 7px;
  top: 33px;
}
/* Header End */
/* Splash Section  */
.slug{
  color: green;
  font-weight: 700;
  padding-right: 5px;
}
.splash-img p {
  margin-bottom: 0px;
}
.splash-btn{

  color: #fff;
  background-color: green;
  padding: 18px 180px 18px 18px;
  border: none;
  border-radius: 10px;
  margin: 80px 0px;
  text-align: left;
}
.arrow-btn{
  position: absolute;
  right: 67px;
  top: 98px;
  font-size: 17px;
  color: #fff;
  z-index: 1;
}
.arrow-btn2{
  position: absolute;
  right: 67px;
  top: 27px;
  font-size: 17px;
  color: #fff;
  z-index: 1;
}
.splash-bt-text{
  border-top: 2px  solid lightgrey;
  border-bottom: 5px  solid lightgrey;
}
.splash-bt-text p{
  margin-bottom: 0px;
  padding-top: 10px;
  color: lightslategray;
  
}
/* Splash Section  */

/* Register */
.mob-box{
  width: 260px;

  margin: auto;
}
.reg-head{
  padding: 30px 0px;
  color: darkblue;
}
.mobile-detail .mob-no{
width: 100%;
border-radius: 6px;
padding: 10px;
border: 1px solid lightslategrey;
}
.otp-box input{
text-align: center;
width: 50px;
height: 50px;
margin-right: 10px;
border-radius: 6px;
border: 1px solid lightslategrey;
font-size: 20px;
}
.otp-text {
  font-size: 13px;
}
.reg-btn{
  color: #fff;
  background-color: green;
  width: 261px;
  padding: 8px 0px;
  border: none;
  border-radius: 10px;
  text-align: left;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 600;
}
.reg-service{
  width: 261px;
  color: #fff;
  background-color: green;
  padding: 8px 0px ;
  padding-left: 10px;
  border: none;
  border-radius: 10px;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
}
.btn-sec{
  
  margin: 50px 0px;
}
.color-blue{
  color: darkblue;
}
.foot-info{
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.foot-info2{
  position: absolute;
  bottom: 58px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
/* Register */

/* Otp start  */

.Verify-btn{

  color: #fff;
  background-color: green;
  padding: 18px 180px 18px 18px;
  border: none;
  border-radius: 10px;
  width: 261px;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
}
/* Otp End  */

/* Footer start*/
.footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: green;
  color: #fff;
  font-size: 10px;
}
.footer p{
  margin-bottom: 0px;
  
}
.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
  color: #fff !important;
}
/* Footer end*/

/* Dashboard Start */
.hello-text{
font-size: 18px;
font-weight: 600;
padding-top: 15px;

}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
  padding-left: 30px !important;
  
}
.search-icon{
  position: absolute;
  left: 9px;
  top: 13px;
  font-size: 30px !important;
  color: lightgray;
}
.dash-icon{
  font-size:30px !important ;
  background-color: blanchedalmond;
  width: 50px !important;
  height: 50px !important;
  border-radius: 10px;
  padding: 9px;
}
.icon-area p{
font-size: 13px;
}
/* Dashboard  End*/
  
/* My Pet start  */
.pet-name{
  padding: 5px 30px;
}
.gender-img{
  width: 50px;
  
}
.gender-img img{
  width: 100%;
}
/* My Pet End  */

/* Service form start */
input[type="file"]
{ 

   width: 100px; 
   height: 100px; 
   
   border-radius: 8px;
    border: 1px solid #757575;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

input[type='file'] { font-size: 0; }
::file-selector-button { display: none; }

.upload-box p {
  position: absolute;
  top: 51px;
  left: 50%;
  transform: translateX(-50%);
  
}
.area-list p{
  margin: 0px;
}
.custom-card{
  border: 1px solid lightgrey;
  border-radius: 5px;
  
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
  padding-left: 0px !important;
}

.service-img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
}
/* Service form end */

/* Service Listing start */
.service-list-edit{
font-size: 15px;
text-decoration: underline;
color: green;
}

.service-card p{
font-size: 15px;
font-weight: 600;
padding: 5px 0px;
}
.service-card span{
  font-size: 13px;
  font-weight: 400;
}
.service-card {
  border-left: 5px solid green !important;
}
/* Service Listing End */
