.Input{
    width: 100%;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    outline: blue;
}
.textarea{
    width: 100%;
    height: 200px;
    padding:10px;
    border-radius: 8px;
    border: 1px solid lightgray;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); 
    outline: blue;
}